[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
langchain = "*"
faiss-cpu = "*"
pdfplumber = "*"
streamlit = "*"
langchain-community = "*"
langchain-ollama = "*"
langchain-groq = "*"

[requires]
python_version = "3.10"

[dev-packages]
